.board {
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    border: black 1px solid;
}

.board__square {
    position: relative;
    width: 60px;
    aspect-ratio: 1;
    background-image: url("/public/plains.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.board__square[data-indicator=selected] {
    anchor-name: --cell--selected;
}


.board__square[data-indicator]::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
}


.board__square[data-indicator=selected]::after {
    background-color: greenyellow;
    outline: 4px red solid;
    z-index: 1;
}

.board__square[data-indicator=selected][data-interaction_status=hover]::after {
    background-color: lawngreen;
}

.board__square[data-indicator=available-target]::after {
    background-color: lightblue;
}

.board__square[data-indicator=available-target][data-interaction_status=hover]::after {
    background-color: cadetblue;
}

.board__square[data-indicator=current-path]::after {
    background-color: lightpink;
}

.board__square[data-indicator=current-path][data-interaction_status=hover]::after {
    background-color: pink;
}

.board__square[data-indicator=area]::after {
    background-color: yellow;
}

.board__square[data-indicator=area][data-interaction_status=hover]::after {
    background-color: lightyellow;
}
