#actions_menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    position-anchor: --cell--selected;
    top: anchor(top);
    left: anchor(right);

    border: 4px gray solid;
    border-radius: 8px;
}

#actions_menu:empty {
    display: none;
}

#actions_menu button {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    background-color: lightpink;
    border: none;
}

#actions_menu button:hover {
    background-color: hotpink;
}
