.creature {
    position: absolute;
    width: 60px;
    aspect-ratio: 1;
    z-index: 2;
    pointer-events: none;

    --creature__offset-x: calc(var(--creature_position-x) * 60px + 1px);
    --creature__offset-y: calc(var(--creature_position-y) * 60px + 1px);

    top: var(--creature__offset-y);
    left: var(--creature__offset-x);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4px;

    transition:
        var(--creature__position-animation-duration, 0ms) top,
        var(--creature__position-animation-duration, 0ms) left;

    transform: scale(var(--creature_size));
    transform-origin: top left;
}

.creature__image {
    width: 40px;
    aspect-ratio: 1;
    background-image: var(--creature__image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.creature__lifebar {
    position: absolute;
    width: 50px ;
    height: 8px;
    border: 1px solid black;
    top: 6px;
    left: 4px;
}

.creature__lifebar::before {
    content: "";
    display: block;
    width: calc(100% / var(--creature__lifebar_max-hp) * var(--creature__lifebar_current-hp));
    height: 100%;
    transition: width 0.5s ease-in-out;
    background-color: red;
}

.fading-number {
    position: absolute;
    animation: fading-text-animation var(--fading-text_animation-duration) forwards;
    font-weight: bold;
    font-size: 1.5rem;
    color: crimson;
}

.fading-miss {
    position: absolute;
    animation: fading-text-animation var(--fading-text_animation-duration) forwards;
    font-weight: bold;
    font-size: 1.5rem;
    color: darkgrey;
}

@keyframes fading-text-animation {
    from {
        top: 0;
        opacity: 1
    }

    66% {
        top: -50%;
        opacity: 1;
    }

    to {
        top: -50%;
        opacity: 0
    }
}

.hit-chance {
    position: absolute;
    background-color: white;
    padding: 4px;
    left: 100%;
    width: 100px;
}

.creature:not(:hover) .hit-chance {
    display: none;
}