.expression {
    position: relative;
    font-weight: bold;
    color: dodgerblue;
    text-decoration-line: underline;
}

.expression:not(:hover) .expression__details {
    display: none;
}

.expression__details {
    top: 100%;
    left: 0;
    background-color: white;
    padding: 8px;
    border: 1px black solid;
    position: absolute;
    width: max-content;
    z-index: 1;
}

.expression__sub-details {
    padding-left: 8px;
}