.board {
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    border: black 1px solid;
}

.board__square {
    position: relative;
    width: 60px;
    aspect-ratio: 1;
    background-image: url("/public/plains.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.board__square[data-indicator=selected] {
    anchor-name: --cell--selected;
}


.board__square[data-indicator]::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
}


.board__square[data-indicator=selected]::after {
    background-color: greenyellow;
}

.board__square[data-indicator=selected]:hover::after {
    background-color: lawngreen;
}

.board__square[data-indicator=available-target]::after {
    background-color: lightblue;
}

.board__square[data-indicator=available-target]:hover::after {
    background-color: cadetblue;
}

#actions_menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    position-anchor: --cell--selected;
    top: anchor(top);
    left: anchor(right);

    border: 4px gray solid;
    border-radius: 8px;
}

#actions_menu:empty {
    display: none;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    background-color: lightpink;
    border: none;
}

button:hover {
    background-color: hotpink;
}