.creature {
    position: absolute;
    width: 62px;
    aspect-ratio: 1;

    --creature__offset-x: calc(var(--creature_position-x) * 60px + 1px);
    --creature__offset-y: calc(var(--creature_position-y) * 60px + 1px);

    top: var(--creature__offset-y);
    left: var(--creature__offset-x);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;

    transition: 1000ms top, 1000ms left;

    pointer-events: none;
}

.creature__image {
    border-radius: 50%;
    background-color: var(--creature__image_color);
    width: 40px;
    aspect-ratio: 1;
}

.creature__lifebar {
    position: absolute;
    width: 52px;
    height: 8px;
    border: 1px solid black;
    top: 4px;
    left: 4px;
}

.creature__lifebar::before {
    content: "";
    display: block;
    width: calc(100% / var(--creature__lifebar_max-hp) * var(--creature__lifebar_current-hp));
    height: 100%;
    transition: width 0.5s ease-in-out;
    background-color: red;
}

.fading-number {
    position: absolute;
    animation: fading-number-animation var(--fading-number_animation-duration) forwards;
    font-weight: bold;
    font-size: 1.5rem;
    color: crimson;
}

@keyframes fading-number-animation {
    from {
        top: 0;
        opacity: 1
    }

    66% {
        top: -50%;
        opacity: 1;
    }

    to {
        top: -50%;
        opacity: 0
    }
}
